{% extends 'base.html' %}
{% block title %}{{ block.super }}-내 북마크 목록{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookmark/css/bookmark_list.css' %}"/>
{% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{ message }}');</script>
        {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-end">
        <a href="{% url 'bookmark:add_list' %}" class="btn btn-info mb-3">
            <i class="fas fa-pencil-alt" style="padding: 0.2rem;"></i> 추가하기
        </a>
    </div>

    <div class="mb-4 text-white">
        <div class="p-1 d-inline-block text-center" style="width: 4rem; background: #34e89e;">공개</div>
        <div class="bg-warning p-1 d-inline-block text-center" style="width: 4rem; background: linear-gradient(90deg,#F2994A,#F2C94C);">비공개</div>
    </div>

    <div class="mb-2">
        팔로워: {{ follower_cnt }}
    </div>

    <div class="card-columns mb-3">
        {% for bookmark_list in object_list %}
            <div class="card
                {% if bookmark_list.access_level == 'P' %}private{% else %}share{% endif %}">
                <div class="card-header text-white px-2">
                    {% with profile_image_url=bookmark_list.user.get.profile_image.url %}
                        {% if profile_image_url == '/media/profile_images/no_image.png' %}
                            <i class="fas fa-user-circle align-middle px-2" style="font-size: 2em;"></i>
                        {% else %}
                            <img src="{{ bookmark_list.user.get.profile_image.url }}" width="50" height="50" class="rounded-circle" />
                        {% endif %}
                    {% endwith %}
                    <span class="align-middle">{{ bookmark_list.user.get.nickname }}</span>
                </div>
                <div onclick="location.href='{% url 'bookmark:item_list' bookmark_list.id %}';" class="card-body pl-3" style="text-decoration: none;">
                    <h5 class="card-title mb-4">{{ bookmark_list.list_name }}</h5>
                    <h6 class="card-subtitle mb-4 text-muted">
                        생성 : {{ bookmark_list.created_at }}<br/>
                        수정 : {{ bookmark_list.updated_at }}
                    </h6>
                    <p class="card-text">{{ bookmark_list.description }}</p>
                </div>
                <div class="card-footer" style="height: 3.5rem; position: relative; font-size: 1.3rem;">
                    <div class="d-inline-block" style="position: absolute; left: 1em;">
                        <i class="
                            {% if bookmark_list.fan_of_list.count %}
                                fas
                            {% else %}
                                far
                            {% endif %}
                            fa-heart p-0" style="color: red; padding: 0.2rem;"></i>
                        <small style="font-size: 0.8rem;">{{ bookmark_list.fan_of_list.count }}</small>
                    </div>
                    <div class="d-inline-block text-right" style="position: absolute; right: 1em;">
                        <i class="fas fa-share-alt" style="padding: 0.2rem;"></i>
                        <a href="{% url 'bookmark:update_list' bookmark_list.id %}" style="text-decoration: none;" class="text-dark">
                            <i class="fas fa-pencil-alt" style="padding: 0.2rem;"></i>
                        </a>
                        <a href="{% url 'bookmark:delete_list' bookmark_list.id %}" style="text-decoration: none;" class="text-dark">
                            <i class="far fa-trash-alt" style="padding: 0.2rem;"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% load bookmark_extra %}

    <ul class="pagination pagination-sm justify-content-center mb-4">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/bookmark/?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">previous</a>
            </li>
        {% endif %}
        {% for page_num in page_obj.number|prange:page_obj.paginator.num_pages %}
            {% if page_num == page_obj.number %}
                <li class="page-item disabled">
                    <a class="page-link" href="/bookmark/?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="/bookmark/?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="/bookmark/?page={{ page_obj.next_page_number }}">next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">next</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block scripts %}
    <script>
        p = $('.private');
        s = $('.share');

        p.addClass('border-warning');
        s.css('border', '1px solid #34e89e')

        p = $('.private .card-header'); //, .private .card-footer');
        s = $('.share .card-header'); //, .share .card-footer');

        p.css('background', 'linear-gradient(90deg,#F2994A,#F2C94C)');
        s.css('background', '#34e89e');

        //p.addClass('bg-warning text-white');
        //s.addClass('bg-primary text-white');
        
        $('.card-body').css( 'cursor', 'pointer' ).hover(function () {
            var footer = $(this).next();

            if($(this).parent().hasClass('private')) {
                footer.addClass('private-card-hover');
            } else {
                footer.addClass('public-card-hover');
            }

            var childrens = [footer.children(), footer.find('a')];
            for(let i=0; i<childrens.length; i++) {
                for(let j=0; j<childrens[i].length; j++) {
                    $(childrens[i][j]).addClass('text-white');
                    $(childrens[i][j]).removeClass('text-dark');
                }
            }
        }, function () {
            var footer = $(this).next();

            if($(this).parent().hasClass('private')) {
                $(this).next().removeClass('private-card-hover');
            } else {
                $(this).next().removeClass('public-card-hover');
            }

            var childrens = [footer.children(), footer.find('a')];
            for(let i=0; i<childrens.length; i++) {
                for(let j=0; j<childrens[i].length; j++) {
                    $(childrens[i][j]).addClass('text-dark');
                    $(childrens[i][j]).removeClass('text-white');
                }
            }
        });
    </script>
{% endblock %}