{% extends 'base.html' %}
{% block content %}
    <div class="offset-md-3 col-md-6 offset-lg-4 col-lg-4">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            {% for field in form %}
                <!-- TODO: errors 어떻게 표시? -->
                <ul>
                    {% for error in field.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {{ field.label }}<br/>
                {{ field }}<br/>
                {% if field.help_text %}
                    <small class="text-warning">{{ field.help_text }}</small><br />
                {% endif %}
            {% endfor %}

            <input type="submit" value="{{ button_value }}" class="btn btn-success w-100 my-3" />
        </form>
    </div>
{% endblock %}